:root {
    --primary-color:  #E19747;
    --secondary-color:  #001D48;
    --border-color: rgb(208, 218, 226);
}

body {
   background: linear-gradient(109.6deg, rgb(9, 154, 151) 11.2%, rgb(21, 205, 168) 91.1%);
}

h1,
h2 {
    text-align: center;
}

h1 {
    text-transform: capitalize;
}

h2 {
    font-size: 22px;
}

img {
    max-width: 100%;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: blueviolet;
}

.theme-button {
    font-size: 18px;
    background: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 15px 15px;

}

.theme-button:hover {
    background:  var(--secondary-color);
}

.baking-intro-picture,
.grid img {
    border-radius: 10px;
    transition: all 250ms ease-in-out;
}

.baking-intro-picture:hover {
    filter: contrast(80%);
    transform: scale(1.1);
}

.grid {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid img {
    width: 100%;
}

.grid img:hover {
    transform: scale(1.2);
}

.dark {
    background: radial-gradient(993px at 0.5% 98.5%, rgb(0, 239, 247) 0%, rgb(0, 122, 147) 46.7%, rgb(0, 29, 72) 100.2%);
    color: white;
}

.dark .container {
    background: rgba(94, 94, 94);
}

.dark a {
    color: white;
}

.dark a:hover {
    color: var(--secondary-color);
}

button {
    display: block;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    background: var(--primary-color);
    color: white;
    font-size: 20px;
    border-radius: 6px;
    padding: 10px 15px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    text-transform: capitalize;
}

button:hover {
    background: var(--secondary-color);
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

footer {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
}



